<div id="finger-modal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>ป้อนรหัสลับ</h2>
            </div>
            <div class="modal-body">
                <div class="row" style="display:none">
                    <div class="col-md-6">
                        <img src="/img/fing-scan2.gif" alt="scan">
                    </div>
                    <div class="col-md-6">
                        <div id="countno" style="font-size: 24px;color:green">
                        </div>
                    </div>
                </div>
                <div id="alerterror" class="alert alert-danger" style="display:none">
                    <h3>รหัสผ่านไม่ถูกต้อง</h3>
                </div>
                <div class="row" style="text-align: center">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="password" name="" id="" class="form-control passwordkey" style="font-size: 40px;height: 60px;text-align: center"
                                readonly>
                            <span class="input-group-btn">
                                <button class="btn btn-default txtclear" type="button" style="font-size: 20px;height: 60px">ลบ</button>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="text-align: center">
                        <div class="col-lg-12">
                            <div id="7" class="btn btn-default" style="width: 150px; margin: 10px">
                                <h1>7</h1>
                            </div>
                            <div id="8" class="btn btn-default" style="width: 150px; margin: 10px">
                                <h1>8</h1>
                            </div>
                            <div id="9" class="btn btn-default" style="width: 150px; margin: 10px">
                                <h1>9</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="text-align: center">
                        <div class="col-lg-12">
                            <div id="4" class="btn btn-default" style="width: 150px; margin: 10px">
                                <h1>4</h1>
                            </div>
                            <div id="5" class="btn btn-default" style="width: 150px; margin: 10px">
                                <h1>5</h1>
                            </div>
                            <div id="6" class="btn btn-default" style="width: 150px; margin: 10px">
                                <h1>6</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="text-align: center">
                        <div class="col-lg-12">
                            <div id="1" class="btn btn-default" style="width: 150px; margin: 10px">
                                <h1>1</h1>
                            </div>
                            <div id="2" class="btn btn-default" style="width: 150px; margin: 10px">
                                <h1>2</h1>
                            </div>
                            <div id="3" class="btn btn-default" style="width: 150px; margin: 10px">
                                <h1>3</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="text-align: center">
                        <div class="col-lg-12">
                            <div id="0" class="btn btn-default" style="width: 150px; margin: 10px">
                                <h1>0</h1>
                            </div>
                            <div id="ok" class="btn btn-primary" style="width: 320px; margin: 10px">
                                <h1>ตกลง</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>