<div class="panel panel-body">
    <div style="text-align:center">
        <h3 style="color:green;text-align:center">
            <label>สรุปวันพักร้อน ประจำปี </label>
            <label class="toyear"></label>
        </h3>
    </div>

    <table id="tableholiday" class="table">
        <thead class="thead-light">
            <tr class="txtdata2">
                <th>รายการ</th>
                <th>จำนวน (วัน)</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>